@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root{
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-grey: hsl(0, 0%, 59%);

}

body {
    min-height: 700px;
    background-color:  var(--dark-cyan);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-position: right 50vw bottom 40vh, left 50vw top 50vh;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Kumbh Sans", serif;
    font-weight: 400;
    margin: 0; /* Margin sıfırlanabilir */
}

.profile-card {
    width: 350px;
    display: flex; /* Grid yerine flexbox kullanmak daha uyumlu olabilir */
    flex-direction: column; /* Flex yönünü dikey yapıyoruz */
    background: white;
    color: var(--dark-grayish-blue);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 60px 80px rgba(0,0,0,.16);
    align-items: center; /* Flex ile ortalamayı sağlıyoruz */
}

.profile-card-profile {
    text-align: center;
    display: flex;
    flex-direction: column; /* Eski grid yerine flexbox kullanabiliriz */
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile-card-banner {
    display: flex;
    flex-direction: column;
    height: 210px;
    align-items: center; /* Banner'ın içeriğini ortalamak için */
}

.profile-card-avatar {
    height: 100px;
    position: relative;
    top: -53px;
    margin: auto;
    border: 5px solid #f7f7f7;
    border-radius: 50%;
    transition: .7s ease;
}

.profile-card-info {
    display: block;
    gap: 10px;
    justify-content: center;
    align-items: center; /* İçeriği ortalamak */
    width: 175px;
}
.profile-info-top{
    display: flex;
    align-items: center;
    justify-content: center;
}
.age{
    padding: 0px 10px 0px;
}
.profile-card-counts {
    display: flex;
    padding: 0px 0px 10px;
    justify-content: center; /* Sayacın ortalanması */
}

.profile-card-count {
    padding: 10px;
}

p {
    font-size: 18px;
    margin: 0;
}

h1 {
    color: var(--very-dark-desaturated-blue);
    font-weight: 800;
    font-size: 18px;
    margin: 0;
}

.location {
    padding: 10px 0px 20px;
    font-size: 14px;
}

h3 {
    margin: 0;
    padding: 0px 20px 0px;
    color: var(--very-dark-desaturated-blue);
    font-weight: 700;
}

.profile-card-count p {
    font-size: 10px;
    letter-spacing: 2px;
}
hr{
    
    width: 100%;
}